# Large binary exceeding GitHub's 100MB limit
node_modules/@next/swc-win32-x64-msvc/next-swc.win32-x64-msvc.node

# Next.js build output
out/

# env files
.env
.env.local
.env.*.local

# misc
.DS_Store
*.pem
npm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts
